/* Background animation */

@keyframes animateBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -960px 0;
    }
}

.layer1,
.layer2,
.layer3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: repeat;
    z-index: -1;
}

.layer1 {
    background-image: url("images/layer1.png");
    animation: animateBackground 80s linear infinite;
}

.layer2 {
    background-image: url("images/layer2.png");
    animation: animateBackground 40s linear infinite;
}

.layer3 {
    background-image: url("images/layer3.png");
    animation: animateBackground 20s linear infinite;
}
