/* Background animation - Credit to AffectedArc07 from the SS13 WebMap https://affectedarc07.github.io/SS13WebMap/ */
@keyframes animateBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -960px 0;
    }
}
.layer1,
.layer2,
.layer3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: repeat;
    z-index: -1;
}
.layer1 {
    background-image: url("images/layer1.webp");
    animation: animateBackground 80s linear infinite;
}
.layer2 {
    background-image: url("images/layer2.webp");
    animation: animateBackground 40s linear infinite;
}
.layer3 {
    background-image: url("images/layer3.webp");
    animation: animateBackground 20s linear infinite;
}



.mainbox {
    background-color: #272727;
    text-align: center;
    margin: 5% 10%;
    padding-bottom: 5rem;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 0;
    position: sticky;
    overflow: hidden;
    border-bottom: 2px solid #161616;
    background: #383838;
}
ul.topnav li {
    float: left;
}
ul.topnav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background: #40628a;
    border: 1px solid #161616;
    padding: 1px 4px;
    margin: 0 1px;
}
ul.topnav li a:hover {
    color: #40628a;
    background: #fff;
}
ul.topnav li a.active {
    color: #fff;
    background: #408a4a;
}
a {
    color: #4f9ad2;
    text-decoration: none;
}
a:hover {
    color: #40628a;
    text-decoration: underline;
}
ul.topnav li.right {
    float: right;
}
@media screen and (max-width:750px) {
    .mainbox {
        width: 100%;
        margin: 0;
    }
    ul.topnav li,
    ul.topnav li.right {
        float: none;
    }
}
body {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    line-height: 170%;
    font-family: Verdana,Geneva,sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 16px 0 8px;
    color: #4f9ad2;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
.progress-reports {
    margin: 30px;
    padding: 10px;
    list-style-type: none;
    background-color: #383838;
}
.mapbox {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
}
.leaflet-container {
    background-image: url("images/layer1.webp");
    animation: animateBackground 20s linear infinite;
    background-repeat: repeat;
}
.collapsible {
    background-color: #383838;
    font-weight: 700;
    color: #517087;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}
.collapsible:hover {
    background-color: #ccc;
}
ul.simple_list {
    list-style-type: none;
    padding-left: 0;
}
ul.simple_list li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background: #40628a;
    border: 1px solid #161616;
    padding: 1px 4px;
    margin: 0 1px;
}
ul.simple_list li a:hover {
    color: #40628a;
    background: #fff;
}
ul.simple_list li a.active {
    color: #fff;
    background: #628a40;
}